@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GeneralSans-Regular", sans-serif;
}

/* Font Family GeneralSans */
@font-face {
  font-family: "GeneralSans-Regular";
  src: url("/fonts/generalsans/GeneralSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Font Family Helvetica */
@font-face {
  font-family: "Helvetica-Bold";
  src: url("/fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Font Family biliner */
@font-face {
  font-family: "Biliner Meclan";
  src: url("/fonts/biliner/Biliner Meclan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bg-custom {
  background-image: url("../public/assets/hero-bg.svg");
}

.bg-custom-two {
  background-image: url("../public/assets/hero-bg-two.svg");
}
